<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content Test</title>
    <link rel="stylesheet" type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700'>
</head>
<body>

<div class="container">
  <%- markdownFile.parseContent() %>
</div>
</body>
</html>
